<h1>Merchant Admin Dashboard</h1>
<h3>Your Merchant is!...</h3>
<p><%= link_to "Merchant Items", merchant_items_path %></p>
<p> <%= @merchant.name  %> </p>
<p> <%= @merchant.address %> </p>
<p> <%= @merchant.city  %> </p>
<p> <%= @merchant.state  %> </p>
<p> <%= @merchant.zip %> </p>
