<center><h2>Merchant Status:</h2>
<i>(Click link next to merchant name to change status)</i>
<p>  
<% @merchants.each do |merchant| %>
</p>
<section id="merch-<%= merchant.id %>">
  <%= link_to merchant.name, admin_merchant_show_path(merchant) %>
  <%= merchant.city %>
  <%= merchant.state %>
  <% if merchant.enabled? == true %>
    <%= link_to 'Disable', able_path(merchant), method: :patch %>
  <% else %>
    <%= link_to 'Enable', able_path(merchant), method: :patch %>
  <% end %>
</section>
<% end %>
</center>
