<center><h3>Edit Your Account Info</h3>
<%= form_for @user, url: user_update_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.submit 'Update Account Info' %>
<% end %>
</center>
