<center>
  <h1>User Profile</h1>
<p><%= link_to 'My Orders', user_orders_path %></p>
<h2>Profile</h2>
  <p>Name: <%= @user.name %> </p>
  <p>Email: <%= @user.email %> </p>
  <p><% @user.addresses.each do |address| %></p>
  <br>Nickname: <%= address.nickname %>
  <br>Address: <%= address.street %>
  <br>City: <%= address.city %>
  <br>State: <%= address.state %>
  <br>Zip: <%= address.zip %>
  <% end  %>
  <% if current_user == @user %>
  <p><%= link_to 'Add New Address', new_user_address_path(@user) %></p>
    <%= link_to "Edit Account Info", profile_edit_path %>
    <%= link_to "Edit Password", profile_edit_password_path %>
    <%= link_to 'Edit Addresses', user_addresses_path(@user) %>
  <% end %>
</center>
