<center>
<h3>All User Addresses</h3>
  <% @addresses.each do |address| %>
    <section id="address-<%= address.id %>">
    <br />Address Nickname: <%= address.nickname %>
    <br /><%= address.street %>
    <br /><%= address.city %>, <%= address.state %> <%= address.zip %>
<p><% if address.order_id == nil %>
      <%= link_to "Edit #{address.nickname} Address", edit_address_path(address.id) %>
    <% end %></p>
    </section>
  <% end %>
</center>
