<center>
<h1>All Merchant's Items</h1>
<% @merchant.items.each do |item| %>
<section id="merchant-item-<%= item.id %>"><p><b><%= item.name %></b></p>
  <br />Price: <%= item.price %>
  <br />Description: <%= item.description %>
  <br />Available Inventory: <%= item.inventory %>
  <br />Active Status: <%= item.active? %>
  <br /><% if item.active? == true %>
    <%= link_to "Deactivate", item_status_path(item.id), method: :patch %>
  <% else %>
    <%= link_to "Activate",  item_status_path(item.id), method: :patch %>
  <% end %>
<% end %>
</section>
</center>
