<h1>This is a employee user profile page</h1>
<!-- < %= render partial:"./partials/merchant_deets" %> -->
<h3>Your Merchant is!...</h3>
<p> <%= @merchant.name  %> </p>
<p> <%= @merchant.address %> </p>
<p> <%= @merchant.city  %> </p>
<p> <%= @merchant.state  %> </p>
<p> <%= @merchant.zip %> </p>

<% @orders.each do |order| %>
  <%= order.id %>
  <%= order.created_at %>
  <p>Total Items: <%= order.total_items_in_this_order(@merchant) %></p>
  <%= order.total_value(@merchant) %>
<% end %>
